@media(max-width: 1024px) {
    .image18.image17 {
        width: 100%;
        height: auto;
    }
    h1 {
        font-family: 'Short Stack';
        font-size: 55px;
        font-weight: 600;
    }
    .main p {
       font-family: 'Inter';
       font-size: 20px;
    }
    h2 {
        font-family: 'Short Stack';
        font-size: 55px;
        font-weight: 500;
    }
}
@media(max-width: 768px) {
    .image18.image17 {
        width: 100%;
        height: auto;
    }
    h1 {
        font-family: 'Short Stack';
        font-size: 45px;
        font-weight: 600;
    }
    .main p {
       font-family: 'Inter';
       font-size: 18px;
    }
    h2 {
        font-family: 'Short Stack';
        font-size: 30px;
        font-weight: 500;
    }
    .image {
        width: 408px;
        height: 443px;
    }
}
@media(max-width: 375px) {
    .image18.image17 {
        width: 100%;
        height: auto;
    }
    .Awarenes h1 {
        font-family: 'Short Stack';
        font-size: 18px;
        font-weight: 600;
    }
    .main p {
       font-family: 'Inter';
       font-size: 16px;
    }
    h2 {
        font-family: 'Short Stack';
        font-size: 18px;
        font-weight: 500;
    }
    .image {
        width: 132px;
        height: 158px;
    }
}
