image {
    border: none;
}
body {
    width: 1440px;
    font-family:'Inter';
    font-weight: 300;
    background-color: #FFF6FD;
    overflow-x: hidden; 
}
.image18 {
    position: relative;
    display: block;
    top: 0px;
    height: 650px;
    width: 100%;
}
h1 {
   color: #4B4A4A;
   font-family: 'Short Stack';
   font-weight: 600;
   font-size: 55px;
   width: 667px;
   height: 71px;
   margin-top: 72px;
   margin-left: 300px;
   margin-right: 387px;
}
.text1 {
    text-align: center;
    width: 260px;
    margin-top: 59px;
    margin-left: 500px;
    font-size: 20px;
    color: #000;
}
.text2 {
    text-align: left;
    font-size: 20px;
    margin-top: 79px;
    margin-left: 50px;
    width: 340px;
    color: #000;
}
.text3 {
    text-align: left;
    font-size: 20px;
    margin-top: 132px;
    margin-left: 50px;
    color: #000;
    transform: rotate(-5deg);
}
.text4 {
    text-align: left;
    margin-top: -262px;
    margin-left: 900px;
    font-size: 20px;
    color: #000; 
}
.text5 {
    text-align: left;
    font-size: 20px;
    margin-top: 160px;
    margin-left: 900px;
    color: #000;
    transform: rotate(5deg);
}
.image {
    display: block;
    position: relative;
    margin-top: -493px;
    margin-left: 400px;
    margin-right: 440px;
    padding-top: 31px;
    width: 494px;
    height: 552px;
}
.image1 {
    position: relative;
    margin-top: 50px;
    margin-left: 200px;
    width: 841px;
    height: 133px;
}
.image2 {
    margin-top: -170px;
    width: 1458px;
    height: 1455px;
}
.Description　h2 {
    position: relative;
    margin-top: -1300px;
    margin-left: 80px;
    padding-top: 130px;
    font-size: 38px;
    font-family: 'Short Stack';
    font-weight: 500;
}
.text6 {
    position: relative;
    text-align: left;
    line-height: 35px;
    margin-top: 38px;
    margin-left: 80px;
    font-size: 20px;
}
.image3 {
    position: relative;
    margin-top: 22px;
    margin-left: 330px;
    padding-left: -62px;
    width: 436px; 
}
.image4 {
    position: relative;
    margin-top: -1655px;
    margin-left: 850px;
    margin-right: 199px;
    width: 378px;
}
.image5 {
    position: relative;
    margin-top: -1500px;
    margin-bottom: 59px;
    margin-left: 110px;
    width: 144px;
    height: 127px;
}
.Priceimage1 {
    position: relative;
    margin-top: 42px;
    margin-left: 90px;
    margin-right: 162px;
    width: 1122px;
    height: 529px;
}
.ProductFeatures h2 {
    position: relative;
    font-family: 'Short Stack';
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    margin-top: 140px;
    margin-left: -200px;
    color: #3a3a3a;  
}
.ProductFeatures h2 span {
    color: #DC494A;
}
.title1 {
    position: relative;
    width: 481px;
    height: 110px;
    margin-top: 125px;
    margin-left: 60px;
    margin-right: 804px;
}
.image20 {
    position: absolute;
    width: 100px;
    height: 100px;
    float: left;
    display: flex;
    margin-top: 100px;
    margin-left: 410px;
}
.image6 {
    position: absolute;
    width: 100px;
    height: 100px;
    float: left;
    display: flex;
    margin-top: 100px;
    margin-left: 90px;
}
.image19 {
    position: absolute;
    width: 100px;
    height: 100px;
    float: left;
    display: flex;
    margin-top: 100px;
    margin-left: 250px;
}
.name1 {
    float: left;
    position: absolute;
    margin-top: 47px;
    margin-left: 80px;
    width: 120px;
    height: 24px;
    text-align: left;
    font-size: 20px;
}
.name2 {
    float: left;
    position: absolute;
    margin-top: 47px;
    margin-left: 255px;
    width: 100px;
    height: 24px;
    text-align: center;
    font-size: 20px;
}
.name3 {
    float: left;
    position: absolute;
    margin-top: 47px;
    margin-left: 420px;
    margin-right: 847px;
    width: 800px;
    height: 24px;
    text-align: left;
    font-size: 20px;
}
.text7 {
    position: absolute;
    margin-top: 237px;
    margin-left: 70px;
    font-size: 16px;
}
.title2 {
    position: relative;
    width: 481px;
    height: 110px;
    margin-top: -112px;
    margin-left: 700px;
    margin-bottom: 360px;
    margin-right: 199px;
    padding-left: -129px;  
}
.name4 {
    position: absolute;
    width: 160px;
    height: 24px;
    margin-top: -310px;
    margin-left: 870px;
    margin-right: 200px;
    font-size: 20px;
}
.image7 {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 105px;
    margin-left: -480px;
}
.text8 {
    float: right;
   position: absolute;
   width: 464px;
   height: 57px;
   margin-top: -95px;
   margin-left: 700px;
   margin-right: 199px;
   font-size: 16px;
}
.title3 {
   position: relative;
   width: 481px;
   height: 110px;
   margin-top: 200px;
   margin-left: 700px;
   margin-right: 199px;
}
.name5 {
    float: right;
   position: absolute;
   width: 60px;
   height: 24px;
   margin-top: 371px;
   margin-left: 915px;
   margin-right: 409px;
   font-size: 20px;
}
.image8 {
   position: absolute;
   width: 100px;
   height: 100px;
   margin-top: 785px;
   margin-left: -480px;
}
.text9 {
   position: absolute;
   width: 526px;
   height: 57px;
   font-size: 16px;
   margin-top: 260px;
   margin-left: 700px;
   margin-right: 176px;
}
.image9 {
   position: absolute;
   margin-top: 100px;
   margin-left: -1380px;
   margin-right: 200px;
   width: 672px;
   height: 628px;
   transform: rotate(-1.94deg);
}
.image15 {
    position: absolute;
    width: 1432px;
    height: 1519px;
    margin-top: -1000px;
    margin-left: -1500px;
    opacity: 2;
    z-index: 1;
}
.customersvoice h2 {
    width: 321px;
   padding-left: 470px;
   margin-top: 450px;
   font-family: 'Short Stack';
   font-size: 55px;
   font-weight: 400;
}
.image10 {
    position: relative;
    margin-top: 42px;
    margin-left: 170px;
    width: 485px;
    height: 343px;
}
.image11 {
    position: relative;
    margin-top: -170px;
    margin-left: 500px;
    width: 677px;
    height: 576px;
}
.image12 {
    position: relative;
    margin-top: 0px;
    margin-left: 550px;
    width: 485px;
    height: 343px;
}
.image13 {
    position: relative;
    margin-top: -300px;
    margin-left: -30px;
    width: 677px;
    height: 576px;
    z-index: 1;
}
.image14 {
    position: absolute;
    margin-top: -1620px;
    margin-left: -1200px;
    width: 1440px;
    height: 1586px;
    opacity: 0.6;
    z-index: -2;
}
.Priceimage2 {
    position: relative;
    width: 1122px;
    height: 529px;
    margin-top: 6px;
    margin-left: 90px;
}
.image16 {
    position: relative;
    margin-top: -770px;
    width: 1458px;
    height: 1548px;
    z-index: -1;
}
footer img {
    position: absolute;
    margin-top: -700px;
    padding-top: -200px;
    display: block;
    height: 650px;
    width: 100%;
}
footer {
    position: relative;
    margin-bottom: 0px;
}
